doctype html
html(ng-app="mainModule")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css", rel="stylesheet")
    link(href="//cdn.rawgit.com/mgcrea/angular-motion/v0.3.4/dist/angular-motion.min.css", rel="stylesheet")
    link(href="stylesheets/style.css", rel="stylesheet")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular-route.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular-resource.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular-sanitize.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular-animate.min.js")
    script(src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js")
    script(src="/socket.io/socket.io.js")
    script(src="javascripts/main.js")
  body
    block content
